h1, h2, h3, h4, h5, h6 { 
  color: #036; 
  line-height: 1; 
  text-align: justify;
}

p{
  line-height: 1.2;
  text-align: justify;
 }
.topo_header  {
  height: 180px;
  background: linear-gradient(to left, rgb(65, 3, 252),rgb(3, 3, 72));
  border-radius: 0 0 30px 30px;
}

.topo_header h1,.topo_header h2, .topo_header a  {
  color: #fff;
  padding-left: 180px;
  padding-top: 20px;
  margin-top: 0%;
  text-align: justify;
  position: relative;
  line-height: 1.3;
  
}

.lista, .cursos  {
  text-align: left;
  position: relative;
  line-height: 1.3;
}


.topo_header h2  {
  font-size: 20px;
  }

.rodape {
clear: both;
/* height: 25px; */
background: linear-gradient(to left, rgb(65, 3, 252),rgb(3, 3, 72));
color: #ffffff;
padding: 5px 0;
text-align: center;	
border-radius: 30px 30px 0 0;
}

a{
  font-size: 20px;
  color: #ffffff;
}

.foto { 
float:left;
width: 130px;
height: 170px;
border-radius: 10%;
overflow: hidden;
position:static;
margin-top: 5px;
margin-left:30px;
}