*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clear { clear: both; }
body {
font: 14px/1.4 arial, sans-serif;
color: #333;
background: #ccc;
}

#tudo {
width: 960px;
margin: 0 auto;
background: #fff;
}

h1, h2, h3, h4, h5, h6 { color: #036; }
.topo_header  {
  height: 180px;
  background: linear-gradient(to left, rgb(65, 3, 252),rgb(3, 3, 72));
  border-radius: 0 0 30px 30px;

}

.topo_header h1  {
font-size: 20px;
margin: 4px 0 2px 0;
padding-right: 20px;
text-align: right;
}

.topo_header a  {
/* color: #900; */
color: #fff;
text-decoration: none;
}

.topo_header h2 {
font-size: 15px;
margin-top: 5;
padding-right:20px;
text-align: right;
color: #fff;
}

.principal {
width: 720px;
float: right;
padding-right:20px;
}

.auxiliar {
width: 220px;
float: center;
padding-left: 15px;
}

.rodape {
clear: both;
/* height: 25px; */
background: linear-gradient(to left, rgb(65, 3, 252),rgb(3, 3, 72));
color: #fff;
padding: 5px 0;
text-align: center;	
border-radius: 30px 30px 0 0;
}

/* Navegação */
a { text-decoration: none; }
.auxiliar_navegacao h2 { 
text-align: center; 
}

li { 
list-style: none; 
padding:100;
}

.auxiliar_navegacao a {
  background: linear-gradient(to left, rgb(65, 3, 252),rgb(3, 3, 72));
  text-align: center;
color: #fff;
display: block;
margin-bottom: 1px;
line-height: 2;
padding-left: 10px;
text-transform: capitalize;
border-radius: 5%;
}
.auxiliar_navegacao a:hover {
  background: linear-gradient(to left, rgb(3, 3, 72), rgb(65, 3, 252));
border-radius: 5%;
}

/* Parceiros links de texto */
.auxiliar_parceiros_textos { 
margin: 30px 0;
text-align: center;
}

.auxiliar_parceiros_textos li { 
margin-bottom: 3px;
background: #eee;
}

.auxiliar_parceiros_textos a { 
padding: 8px 0;
color: #333;
display: block;
}

.foto { 
float:left;
width: 130px;
height: 170px;
border-radius: 10%;
overflow: hidden;
position:static;
margin-top: 5px;
margin-left:30px;
}

.logo {
  float: right;
  width: 160px; 
  height: 70px; 
  margin-right:25px;
  
}